<footer>
    <div class="footer_contents">
        <div class="foot_top">
            <ul class="nav-list">
                <li class="nav-list_item"><a target="_blank" href="http://ucdavis.edu/">UC Davis</a></li>
                <li class="nav-list_item"><a target="_blank" href="http://ip.ucdavis.edu/">International Programs</a></li>
                <li class="nav-list_item"><a target="_blank" href="http://www.cornell.edu/">Cornell</a></li>
            </ul>
        </div>
        <div class="foot_bottom">
            <ul class="nav-list">
                <li class="nav-list_item">Copyright © 2015 UC Reagents</li>
                <li class="nav-list_item"><a href="/disclaimer">Disclaimer</a></li>

            </ul>
            <ul class="nav-list float-right">
                <li class="nav-list_item no-bord"><a href="https://twitter.com/SparkNearby"><i class="fa fa-twitter"></i></a></li>
                <li class="nav-list_item"><a href="https://www.facebook.com/Spectafy"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
