<div id="google_translate_element"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
    new google.translate.TranslateElement({
        pageLanguage: 'en',
        includedLanguages: 'zh-CN,zh-TW',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
    }, 'google_translate_element');
}
</script>
<header>
    <div class="header_contents">
        <div class="header_logo">
            <a href="/"><img src="/media/echina.svg" alt="echinaapple logo"></a>
        </div>
    </div>
</header>
<div class="nav_wrapper">
    <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation">Show navigation</a>
        <a href="#" title="Hide navigation">Hide navigation</a>
        <ul>
            <li>
                <a href="/dwarf-orchard" aria-haspopup="true">Dwarf Orchard Management</a>
                <ul class="submenu">
                    <li><a href="/dwarf-orchard/compare-dwarf-traditional/">Compare Dwarf and Traditional</a></li>
                    <li><a href="/dwarf-orchard/orchard-establishment/">Orchard Establishment</a></li>
                    <li><a href="/dwarf-orchard/nursery-management">Nursery Management</a></li>
                    <li><a href="/dwarf-orchard/pruning-training">Pruning and Training</a></li>
                    <li><a href="/dwarf-orchard/plant-nutrition">Plant Nutrition</a></li>
                    <li><a href="/dwarf-orchard/water-management">Water Management</a></li>
                    <li><a href="/dwarf-orchard/pest-management">Pest Management</a></li>
                    <li><a href="/dwarf-orchard/postharvest-marketing">Postharvest and Marketing</a></li>
                    <li><a href="/dwarf-orchard/cropping-calendar">Cropping Calendar</a></li>
                </ul>
            </li>
            <li>
                <a href="/learning-materials" aria-haspopup="true">Learning Materials</a>
                <ul class="submenu">
                    <li><a href="/learning-materials#written-materials">Written Materials</a></li>
                    <li><a href="/learning-materials#elearning">e-Learning</a></li>
                    <li><a href="/learning-materials#tools">Tools</a></li>
                    <li><a href="/learning-materials#video">Videos</a></li>
                    <li><a href="/learning-materials#presentations">Presentations</a></li>
                    <li><a href="/learning-materials/turning-information-into-action/">Turning information into action</a></li>
                </ul>
            </li>
            <li><a href="/resources">Other Knowledge Resources</a></li>
            <li>
                <a href="/about">About</a>
                <!--               <ul class="submenu">
                    <li><a href="/">About the Project</a></li>
                    <li><a href="/">Contact us</a></li>
                </ul> -->
            </li>
        </ul>
        <div class="search_form">
        <!-- <form>
            <input type="text" class="st-default-search-input">
        </form> -->
        
        </div>
    </nav>
</div>
