<header>
  <div class="header_contents">
    <div class="header_logo">
      <a href="/"><img src="/media/echina.svg" alt="echinaapple logo"></a>
    </div>
    <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation">Show navigation</a>
        <a href="#" title="Hide navigation">Hide navigation</a>
        <ul>
            <li>
                <a href="/" aria-haspopup="true">Dwarf Orchard Management</a>
                <ul class="submenu">
                    <li><a href="/">Compare Dwarf and Traditional</a></li>
                    <li><a href="/">Orchard Establishment</a></li>
                    <li><a href="/">Nursery Management</a></li>
                    <li><a href="/">Pruning and Training</a></li>
                    <li><a href="/">Plant Nutrition</a></li>
                    <li><a href="/">Water Management</a></li>
                    <li><a href="/">Pest Management</a></li>
                    <li><a href="/">Postharvest and Marketing</a></li>
                    <li><a href="/">Cropping Calendar</a></li>
                </ul>
            </li>
            <li>
                <a href="/" aria-haspopup="true">Learning Materials</a>
                <ul class="submenu">
                    <li><a href="/">Written Materials</a></li>
                    <li><a href="/">e-Learning</a></li>
                    <li><a href="/">Tools</a></li>
                    <li><a href="/">Videos</a></li>
                    <li><a href="/">PowerPoint</a></li>
                    <li><a href="/">Turning information into action</a></li>
                </ul>
            </li>
            <li><a href="/">Other Knowledge Resources</a></li>
            <li>
                <a href="/" aria-haspopup="true">About</a>
                <ul class="submenu">
                    <li><a href="/">About the Project</a></li>
                    <li><a href="/">Contact us</a></li>
                </ul>
            </li>
        </ul>
    </nav>
  </div>
</header>
