body {
    margin:0px;
}
header {
    border-bottom: 1px solid $borders;
    .header_contents {
        @include container;
        .header_logo {
            display:inline-block;
            width:30%;
            vertical-align: top;
        }
        nav {
            display:inline-block;
            width:59%;
            vertical-align: middle;
        }
    }
}
.hero {
    background-color:orange;
    .header_contents {

    }
}
.banner {
    background-color:green;
    .banner_contents {

    }
}
.main {
    background-color:purple;
    .main_contents {

    }
}
