body {
    margin: 0px;
}

header {
    border-bottom: 1px solid $borders;
    .header_contents {
        @include container;
        overflow:hidden;
        .header_logo {
            display: inline-block;
            // width: 30%;

        }
        nav {
            display: inline-block;
            // width: 59%;
            float:right;
            margin-top:5%;
        }
    }
}

.hero {
    background-color: orange;

}

.banner {
    background-color: green;
    .banner_contents {}
}

.main {
    background-color: purple;
    .main_contents {}
}
