// homepage

.callout {
	text-align:center;
	margin-top:5%;
	margin-bottom:5%;
}

// banners:
.banner {
	background-color:$echina-teal;
	height:125px;
	.banner_contents {
		@include container;

	}
}
.main {
	padding:4% 0%;
	.main_contents {
		@include container;
	}
}
.btn-main {
	margin-top:2%;
	margin-bottom:2%;
}
.section-header {
	border-bottom:4px solid $echina-blue;
	margin-top:6%;
	h2 {
		color:#fff;
		background-color:$echina-blue;
		display:inline;
		padding:10px 16px 6px 16px;
		margin:0px;
	}
}
.section--yellow {
	border-bottom:4px solid $echina-yellow;
	h2 {
		background-color:$echina-yellow;
	}
}